[submodule "osm-directory"]
	path = osm-directory
	url = git@github.com:tradenetcorp/osm-directory.git
	ignore = all
	branch = first-commit
[submodule "osm-auth"]
	path = osm-auth
	url = git@github.com:tradenetcorp/osm-auth.git
	ignore = all
	branch = first-commit
[submodule "osm-files"]
	path = osm-files
	url = git@github.com:tradenetcorp/osm-files
	ignore = all
	branch = first-commit
[submodule "osm-locker"]
	path = osm-locker
	url = git@github.com:tradenetcorp/osm-locker.git
	ignore = all
	branch = first-commit
[submodule "osm-ui"]
	path = osm-ui
	url = git@github.com:tradenetcorp/osm-ui.git
	ignore = all
	branch = first-commit
[submodule "osm-account"]
	path = osm-account
	url = git@github.com:tradenetcorp/osm-account
	ignore = all
	branch = first-commit
